name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write


    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Install mdBook and plugins
        run: |
          cargo install mdbook --version 0.4.52 --locked
          cargo install mdbook-quiz --version 0.4.0 --locked
          cargo install mdbook-admonish --version 1.20.0 --locked

      - name: Install admonish assets
        run: mdbook-admonish install .

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install npm dependencies
        run: npm install

      - name: Copy Thebe assets
        run: npx copy-thebe-assets src/thebe

      - name: Build Book
        run: |
          set -e
          mdbook build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'book'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4